*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body{
    background: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 350px;
    background: gainsboro;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    text-align: center;
}

h2{
    margin-bottom: 20px;
    color: black;
}

input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid dodgerblue;
    border-radius: 5px;
    outline: none;
    margin-bottom: 15px;
}

button{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background: dodgerblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background: steelblue;
}
